[submodule "3rdpart/glfw"]
	path = 3rdpart/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "pfs-common"]
	path = pfs-common
	url = https://github.com/semenovf/pfs-common.git
